body {
	font-family: Arial, sans-serif;
	background-color: #f7f7f7;
	color: #333;
	margin: 0;
	padding: 0;
}

header {
	background-color: #141414;
	color: #fff;
	padding: 20px;
    text-align: center;    
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

h1 {
	margin: 0;
}

.title {
    margin: 0;
    background-color: #141414;
    color: white;
    text-align: center;
}

.title h1 {
    padding-top: 20px;
}

.navbar {
    overflow: hidden;
    background-color: #141414;
    font-family: Arial;
    border: 1px solid white;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.main {
    background-color: #333;
    background-size: cover;
}




#content {
    margin-left: 150px;
    margin-right: 150px ;
    padding-bottom: 35px;
    background-color: white;
}

#content-page {
    background-color: #141414;
}

/* Slide show code */

* {box-sizing: border-box;}

.mySlides {
    display: none
}


img {
    vertical-align: middle;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin-left: 50px;
   
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: #f1f1f1;
    color: black;
}

.dot {
    cursor:pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #000000;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
.active, .dot:hover {
    background-color: #717171;
}

.grid-container {
    display: grid;
    grid-template-columns: 1000px auto;
    
    background-color: #ffffff;
    padding: 10px;
}

.grid-item {
    padding: 20px;
    color: black;
}

.grid-container2 {
    display: grid;
    grid-template-columns: auto;
    text-align: center;
    background-color: #ffffff;
    padding: 10px;
}

.item1 {
    text-align: center;
}