body {
	font-family: Georgia, 'Times New Roman', Times, serif;
	background-color: #f7f7f7;
	color: #333;
	margin: 0;
	padding: 0;
}

header {
	background-color: #141414;
	color: #fff;
	padding: 20px;
    text-align: center;    
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

h1 {
	margin: 0;
}

h2, p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.title {
    margin: 0;
    background-color: #141414;
    color: white;
    text-align: center;
}

.title h1 {
    padding-top: 20px;
}

.navbar {
    overflow: hidden;
    background-color: #141414;
    font-family: Arial;
    border: 1px solid white;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.main {
    background-color: #333;
    background-size: cover;
}

#content {
    margin-left: 150px;
    margin-right: 150px ;
    padding-bottom: 35px;
    padding-top: 20px;
    background-color: white;
}

#content-page {
    background-color: #141414;
}

#name_header{
    text-align: center;
    background-color: #333;
    margin-left: 100px;
    margin-right: 100px;
    color: #fff;
}

#name_header h2 {
    font-size: 75px;
}

#name_header p {
    font-size: 25px;
    padding-bottom: 40px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    padding: 10px;
}

.flex-item-left {
    flex: 50%;
    padding: 20px;
    color: black;
    text-align: right;
}

.flex-item-right{
    flex: 50%;
    padding: 20px;
    color: #141414;
    font-size: 25px;
    margin-left: 20px;
    margin-right: 30px;
}

.foot {
    background-color: #333;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffffff;
    text-align: center;
}

@media (max-width: 800px) {
    .flex-item-left, .flex-item-right {
        flex: 100%;
    }
}